.right {
  .paragraph {
    line-height: 2rem;
    h2 {
      font-size: 1.1rem;
      padding-top: 1rem;
      font-weight: 700;
      margin-bottom: 0.5rem;
      align-items: center;
    }
    .paragraph-1 {
      .paragraph-head {
      }
      .paragraph-content {
        ul {
          .second-li {
            list-style-type: none;
            padding-left: 24px;
            padding-bottom: 1rem;
          }
        }
      }
    }
  }
  .paragraph-2 {
    padding-left: 35px;
    padding-bottom: 3rem;
    padding-top: 0.5rem;

    .img-paragraph-2 {
      padding: 3rem 0;
    }
    .poster {
      padding: 1.5rem;
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      margin: 2.5rem 0;
      .poster-foot {
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
.main {
  padding: 2rem 0;
  margin: 0 auto;
  .container {
    .row {
      justify-content: center;
      .left {
        width: 100%;
        order: 2;
        @media (min-width: 764px) {
          order: 1;
          width: 30%;
        }

        .left-content {
          margin: 2rem 0;
          padding: 2.5rem 1.5rem;
          box-shadow: 0 5px 20px rgb(0 0 0 / 10%);
          position: sticky;
          top: 8rem;
          margin-top: 0;

          img {
            width: 4em;
            margin: 0 auto 1.5rem auto;
            border-radius: 100%;
            position: sticky;
          }
          h3 {
            margin: 1rem 0;
            font-weight: bold;
            margin-bottom: 0.75rem;
          }

          a {
            font-size: 1.25rem;
            line-height: 1.375;
            font-weight: 800;
            padding: 1rem 2rem;
            display: inline-block;
            margin: 1rem 0;
            border-radius: 50px;
          }
          p {
            span {
              font-weight: 600;
            }
          }
        }
      }
      .right-content {
        order: 1;
        width: 100%;
        @media (min-width: 764px) {
          padding-left: 2rem;
          order: 2;
          width: 45%;
        }

        .right {
          .right-heading {
            h1 {
              font-size: 1.5rem;
              line-height: 1.375;
            }
            margin-top: 3rem;

            line-height: 2rem;
            p {
              padding-top: 1rem;
            }
          }
          .right-list1 {
            padding-left: 1rem;
            ul {
              list-style-type: disc;
              margin-top: 1rem;
              display: flex;
              flex-wrap: wrap;
              font-size: 0.8rem;
              line-height: 2;
              flex-wrap: wrap;
              align-items: center;
              gap: 10px;
              padding-bottom: 2rem;
              li {
                flex: 0 0 auto;
                @media (min-width: 764px) {
                  width: 30%;
                  font-size: 1rem;
                }
                width: 40%;
              }
              padding-bottom: 2rem;
            }
            hr {
              width: 9rem;
              border-top: 2px solid var(--white);
              border-style: dashed;
            }
          }
          .paragraph {
            h2 {
              .span-number {
                font-size: 1rem;
                font-weight: 600;
                background-color: #d01b34;
                color: #fff;
                text-align: center;
                border-radius: 100%;
                padding: 5px 8px;
              }
            }
          }
        }
      }
    }
  }
}
