.right {
  .right-heading {
    margin-top: 3rem;
    font-size: 1rem;
    line-height: 2rem;
  }
  .right-list {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    line-height: 3rem;
    font-size: medium;
    padding: 1rem 1rem;
  }
  .paragraph {
    line-height: 2rem;
    font-size: medium;
    .paragraph-1 {
      .paragraph-head {
        .paragraph-content {
          ul {
            .second-li {
              list-style-type: none;
            }
          }
        }
      }
    }
  }
}
