.right {
  .paragraph {
    line-height: 2rem;
    font-size: medium;
    .paragraph-1 {
      .paragraph-head {
      }
      .paragraph-content {
        ul {
          .second-li {
            list-style-type: none;
            padding-left: 24px;
          }
        }
      }
    }
  }
  .paragraph-2 {
    padding-left: 35px;
    font-size: medium;
    .poster {
      padding: 1.5rem;
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      margin: 2.5rem 0;

      .poster-foot {
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
.main {
  padding: 2rem 0;
  margin-left: 10rem;
  .container {
    .row {
      .left {
        width: 100%;
        order: 2;
        @media (min-width: 764px) {
          order: 1;
          width: 30%;
        }

        .left-content {
          margin: 2rem 0;
          padding: 2.5rem 1.5rem;
          box-shadow: 0 5px 20px rgb(0 0 0 / 10%);
          position: sticky;
          top: 8rem;
          margin-top: 0;

          img {
            width: 4em;
            margin: 0 auto 1.5rem auto;
            border-radius: 100%;
            position: sticky;
          }
          h3 {
            margin: 1rem 0;
            font-weight: bold;
            margin-bottom: 0.75rem;
          }

          a {
            font-size: 1.25rem;
            line-height: 1.375;
            font-weight: 800;
            padding: 1rem 2rem;
            display: inline-block;
            margin: 1rem 0;
            border-radius: 50px;
          }
          p {
            span {
              font-weight: 600;
            }
          }
        }
      }
      .right-content {
        order: 1;
        width: 100%;
        @media (min-width: 764px) {
          order: 2;
          width: 40%;
        }

        .right {
          .right-heading {
            h1 {
              font-size: 2rem;
              line-height: 1.375;
            }
            p {
              padding-top: 1rem;
            }
            margin-top: 3rem;
            font-size: 1rem;
            line-height: 2rem;
          }
          .right-list1 {
            padding-left: 0.6rem;
            ul {
              list-style-type: disc;
              margin-top: 1rem;
              display: flex;
              flex-wrap: wrap;
              font-size: 0.85rem;
              line-height: 2;
              flex-wrap: wrap;
              align-items: center;
              gap: 10px;
              li {
                flex: 0 0 auto;
                width: 45%;
              }
            }

            hr {
              width: 9rem;
              border-top: 2px solid var(--white);
              border-style: dashed;
            }
          }
          .paragraph {
            padding-top: 1rem;

            h2 {
              span {
                font-size: large;
              }
            }
            .paragraph-2 {
              font-size: medium;
            }
          }
        }
      }
    }
  }
}
