footer {
  font-size: 0.75rem;
  position: relative;
  padding: 4rem 0;
  .container {
    max-width: 64rem;
    padding: 0 2.5rem;
    .row {
      .discalimer {
        padding-top: 2rem;
      }
    }
  }
}
