.mobile-cta{
  width: 100%;
  position: sticky;
  z-index: 999;
  bottom: -120px;
  opacity: 0;
  text-align: center;
  transform: translateY(100%);
  visibility: hidden;
   transition: .4s linear;
  .mobile-cta-container {
    padding: 1rem 1.25rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    display: flex;
    .help {
      padding: 0.875rem 1.5rem;
      border-radius: 0.125rem;
      width: 100%;
      display: block;
      margin-bottom: 0.375rem;
      font-size: 1rem;
      font-weight: 700;
      color: #fff;
      text-decoration: none;
    }
    a {
      text-decoration: none;
      color: #191616;

      span {
        font-weight: 700;
        color: #191616;
      }
    }
  }
  @media (min-width: 768px) {
display: none;
  }
}

.show {
 opacity: 1;
 visibility: visible;
 transform: translateY(0);
 bottom: 0;
}

// .hide {
//   display: none !important;
// }
