:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --red: #d01b34;
  --black: #354a55;
  --white: #fff;
  --blue: #f2faff;
  --grey: #dbdbdd;
  --green: #354a55;
  --yellow : #facc15;
  --soft-black: #354A55;
  scroll-behavior: smooth;
}

@font-face{font-family:'fontello';src:url("assets/fonts/fontello.eot");src:url("assets/fonts/fontello.eot?31286851#iefix") format("embedded-opentype"),url(assets/fonts/fontello.woff?31286851) format("woff"),url(assets/fonts/fontello.woff2) format("woff2"),url(assets/fonts/fontello.ttf?31286851) format("truetype"),url("assets/fonts/fontello.svg?31286851#fontello") format("svg");font-weight:400;font-style:normal}
*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.4;
  font-size: 1.125rem;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
.icon{font-family:"fontello";font-style:normal;font-weight:400;display:inline-block;text-decoration:inherit;width:1em;margin-right:.2em;text-align:center;font-variant:normal;text-transform:none;line-height:1em;margin-left:.2em;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
a {
  text-decoration: none;
}

.red {
  color: var(--red);
}
.bg-red {
  background-color: var(--red);
}
.black {
  color: var(--black);
}
.bg-black {
  background-color: var(--black);
}
.white {
  color: var(--white);
}
.bg-white {
  background-color: var(--white);
}
.blue {
  color: var(--blue);
}
.bg-blue {
  background-color: var(--blue);
}
.grey {
  color: var(--grey);
}
.bg-grey {
  background-color: var(--grey);
}
.green {
  color: var(--green);
}
.bg-green {
  background-color: var(--green);
}
.yellow {
  color: var(--yellow);
}
.bg-yellow {
  background-color: var(--yellow);
}
.soft-black{
  color: var(--soft-black);
}
.bg-soft-black{
  background-color: var(--soft-black);
}
.shadow{
  box-shadow: 0 3px 40px rgba(0,0,0,.1);
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.strong {
  font-weight: bold;
}

.text-align-center {
  text-align: center;
}

.container {
  max-width: 100%;
  padding-right: calc(3rem * 0.5);
  padding-left: calc(3rem * 0.5);
  margin-left: auto;
  margin-right: auto;
}
.container .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-0.5 * 1.5rem);
  margin-left: calc(-0.5 * 1.5rem);
}

.container .row .col {
  flex: 0 0 auto;
  padding-right: calc(1.5rem * 0.5);
  padding-left: calc(1.5rem * 0.5);
}

@media (min-width: 517px) {
  .container {
    max-width: 500px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
